/*======================================================================
Product Detail
========================================================================*/
.product-single-1 .product-details-img .product-zoom-right { width:100%; }
.product-details-img:before, .product-details-img:after { content:''; clear:both; display:block; }
.product-details-img .product-thumb { display:inline-block; padding:0; width:12.5%; margin:0; float:left; padding-right:5px; }
.product-details-img .product-thumb-1 { display:block; padding:0; width:100%; margin:0; float:left; padding-right:0; }
.product-details-img .product-zoom-right { display:inline-block; position:relative; width:87%; float:left; }
.product-thumb .product-dec-slider-2 a { cursor:pointer; }
.product-details-img .product-thumb .slick-arrow { top:auto; background:#fff; border-radius:3px; padding:0 5px; opacity:0; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; }
.product-details-img:hover .product-thumb .slick-arrow { opacity:1; }
.product-details-img .product-thumb .slick-prev { top:5px; left:50%; margin-left:-12px; }
.product-details-img .product-thumb .slick-next { bottom:-10px; left:50%; right:auto; margin-left:-12px; }
.product-details-img .product-thumb .slick-prev:before { content:"\f106"; font-family:"FontAwesome"; font-size:20px; }
.product-details-img .product-thumb .slick-next:before { content:"\f107"; font-family:"FontAwesome"; font-size:20px; }
.product-details-img .product-labels { z-index:99; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-arrow { background:transparent; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-next { right:0; top:50%; left:inherit; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-prev { left:15px; top:50%; bottom:0; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-prev:before { content:"\ea8b"; font-family:"annimex-icons"; font-size:16px; }
.product-details-img.product-single__photos.bottom .product-thumb .slick-next:before { content:"\ea8c"; font-family:"annimex-icons"; font-size:16px; }

.product-form .swatch .swatchInput + .swatchLbl.rounded { border-radius:50% !important; }
.product-form .swatch .swatchInput + .swatchLbl.rectangle { border-radius:7px !important; }

.product-buttons { position:absolute; right:10px; bottom:10px; z-index:99; }
.product-buttons .btn.popup-video i, .product-buttons .btn i { line-height:33px; }
.product-buttons .btn { font-size:19px; height:36px; width:36px; text-align:center; margin-top:5px; clear:both; border-radius:3px; padding:0; line-height:33px; float:right; background:#000000; color:#ffffff; opacity:0.9; }

.product-template__container .product-single { margin-bottom:20px; }
.product-template__container .product-single__meta { position:relative; margin-bottom:20px; }
h1.product-single__title, .product-single__title.h1 { color:#000; font-size:23px; margin-bottom:10px; padding-right:60px; text-transform:uppercase; }
.product-template__container .product-nav { position:absolute; right:0; top:10px; }
.product-template__container .product-nav .next { float:right; }
.product-template__container .product-nav .prev, .product-template__container .product-nav .next { font-size:20px; display:block; line-height:22px; text-align:center; height:20px; width:20px; padding:0; color:#000; }

.product-template__container .prInfoRow { margin-bottom:10px; }
.product-template__container .prInfoRow > div { display:inline-block; margin-right:5%; }
.product-template__container .prInfoRow .instock { color:#447900; }
.product-template__container .prInfoRow .spr-badge-caption { color:#424242; padding-left:5px; }
.product-template__container .prInfoRow a:hover { text-decoration:none; }
.product-single__price .product-price__price { font-size:1.46154em; padding-left:3px; }
.discount-badge { display:inline-block; vertical-align:middle; margin:-2px 0 0 5px; font-size:13px; }
.discount-badge .product-single__save-amount { font-weight:700; }
.discount-badge .off, .discount-badge .product-single__save-amount { color:#e95144; }
.product-single__price { display:inline-block; margin-right:10px; color:#555; font-size:1.15385em; font-weight:400; margin-bottom:15px; }
.orderMsg { color:#e95144; font-size:15px; margin-bottom:20px; }
.orderMsg img { margin-right:3px; vertical-align:top; -webkit-animation-name:blinker; -webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:cubic-bezier(.6, 0, 1, 1); -webkit-animation-duration:0.8s; }
@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity:0.0; }
}
.product-description ul, .product-single__description ul { margin-left:0; }
.product-single__description ul { text-align:left; }
.product-description ul li, .product-single__description ul li { position:relative; margin-left:15px; list-style:disc; }

.rte { color:#555; margin-bottom:20px; }
.rte li { margin-bottom:4px; list-style:inherit; }
.rte h1, .rte .h1, .rte h2, .rte .h2, .rte h3, .rte .h3, .rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 { margin-top:30px; margin-bottom:15px; }
.rte h1:first-child, .rte .h1:first-child, .rte h2:first-child, .rte .h2:first-child, .rte h3:first-child, .rte .h3:first-child, .rte h4:first-child, .rte .h4:first-child, .rte h5:first-child, .rte .h5:first-child, .rte h6:first-child, .rte .h6:first-child { margin-top:0 }
.rte:last-child { margin-bottom:0; }

.product-template__container #quantity_message { color:#31a3a3; font-size:16px; text-align:center; padding:5px 9px; margin-bottom:15px; border:1px dashed #31a3a3; }
.product-template__container #quantity_message .items { font-weight:700; }

.product-form { display:-webkit-flex; display:-ms-flexbox; display:flex; width:100%; -webkit-flex-wrap:wrap; -moz-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; -ms-flex-align:end; -webkit-align-items:flex-end; -moz-align-items:flex-end; -ms-align-items:flex-end; -o-align-items:flex-end; align-items:flex-end; width:auto; margin:0 -5px -10px; }
.product-template__container .product-form .swatch { width:100%; }
.product-form .swatch { margin-bottom:10px; }
.product-form .swatch .product-form__item { margin-bottom:0; padding-bottom:0; padding-top:0; }
.product-form__item { -webkit-flex:1 1 200px; -moz-flex:1 1 200px; -ms-flex:1 1 200px; flex:1 1 200px; margin-bottom:10px; padding:5px; }
.product-form .swatch label { display:block; text-transform:uppercase; font-weight:400; }
.product-template__container label .slVariant { font-weight:700; }
.product-form .swatch .swatch-element { display:inline-block; margin-right:8px; cursor:pointer; }
.product-form .swatch .swatchInput + .swatchLbl.color.medium { width:50px; height:50px; }
.product-form .swatch .swatchInput:checked + .swatchLbl { border:2px solid #111111; box-shadow:none; }
.product-form .swatch .swatchInput + .swatchLbl.color { width:30px; padding:0; height:30px; background-repeat:no-repeat; background-position:50% 50%; background-size:100% auto; cursor:pointer; }
.product-form .swatch .swatchInput + .swatchLbl.large { width:40px; height:40px; }
.product-form .swatch .swatchInput + .swatchLbl.large:not(.color) { line-height:36px; }
.product-form .swatch .swatchInput + .swatchLbl { color:#333; font-size:12px; font-weight:400; line-height:28px; text-transform:capitalize; display:inline-block; margin:0; min-width:30px; height:30px; overflow:hidden; text-align:center; background-color:#f9f9f9; padding:0 10px; border:2px solid #fff; box-shadow:0 0 0 1px #ddd;
    border-radius:0; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; cursor:pointer; }
.product-form .swatch .swatchInput { display:none; }

.infolinks { margin-bottom:25px; padding:0 5px; }
.infolinks .btn { font-size:11px; background-color:transparent; color:#000; padding:0; margin-right:15px; display:inline-block; vertical-align:top; border-bottom:1px solid #000; }
.infolinks .btn:focus { outline:0; }

#sizechart { text-align:center; background:#fff; margin:0 auto; padding:20px; max-width:800px; position:relative; }
#sizechart table tr th { background:#000; color:#fff; border:0 !important; }
#sizechart table tr th, #sizechart table tr td { padding:7px 12px; text-align:center; font-size:12px; border:1px solid #e8e9eb; }
table { margin-bottom:15px; width:100%; border-collapse:collapse; border-spacing:0; }

#productInquiry { background:#eee; margin:0 auto; padding:20px; max-width:600px; position:relative; }
#productInquiry input[type="tel"], #productInquiry input[type="email"], #productInquiry input[type="text"], #productInquiry textarea { background-color:#fff; margin-bottom:10px; }
#productInquiry textarea { padding:10px; }

.product-template__container .product-action { width:100%; display:block; margin-bottom:15px; padding:0 5px; }
.product-template__container .product-form__item--quantity { float:left; margin:0 10px 10px 0; }
.wrapQtyBtn { float:left; }
.qtyField { display:table; margin:0 auto; }
.qtyField .qty { width:40px; }
.qtyField .qtyBtn, .qtyField .qty { padding:10px 6px; width:36px; height:42px; border-radius:0; float:left; cursor: pointer; }
.qtyField a { background-color:#eee; color:#000; }
.qtyField a .fa { font-size:12px; line-height:21px; }
.qtyField > a, .qtyField > span, .qtyField input { display:table-cell; line-height:normal; text-align:center; padding:3px 6px; border:1px solid #f5f5f5; }
.product-template__container .product-form__item--submit { width:auto; overflow:hidden; }
.product-template__container .product-form__item--submit .btn { width:80%; padding:6px 15px; min-height:42px; }
.product-template__container .shopify-payment-button .shopify-payment-button__button--unbranded { border-radius:0; -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; color:#fff; background-color:#e95144; float:right; }
.shopify-payment-button__button { cursor:pointer; display:block; font-size:1em; font-weight:500; line-height:1; text-align:center; width:100%; }
.shopify-payment-button__button--unbranded { padding:1em 2em; }

.product-template__container .shareRow { padding:10px 0 20px; }
.product-template__container .shareRow .wishlist { background:none !important; color:#000 !important; text-transform:capitalize; width:auto; text-align:left; line-height:inherit; height:auto; text-decoration:none; }
.product-template__container .shareRow .wishlist span { display:inline; padding-left:5px; letter-spacing:0.02em; }
.product-template__container .shareRow .medium-up--one-third { width:33%; }
.social-sharing .btn { color:#000 !important; padding:0 5px; margin-bottom:0; background:none !important; border:0; letter-spacing:normal; text-transform:capitalize; }
.btn--share .fa { color:#222222; font-size:14px; }

.freeShipMsg { margin-bottom:12px; }
.freeShipMsg .fa { font-size:20px; width:25px; vertical-align:middle; }
.shippingMsg { margin-bottom:12px; }
.shippingMsg .fa { font-size:18px; width:25px; vertical-align:middle; }

.userViewMsg { clear:both; margin-bottom:12px; }
.userViewMsg .fa, .userViewMsg .uersView { color:#e95144; }
.userViewMsg .fa { font-size:18px; width:25px; }

.feature h3 { font-size: 16px }
.prFeatures { padding:20px 0; }
.prFeatures .feature { margin-bottom: 20px;}
.prFeatures img { float:left; }
.prFeatures .details { margin-left:65px; line-height:1.5; }
.prFeatures .details h3, .prFeatures .details .h3 { margin-bottom:5px; text-transform:uppercase; }

.template-product .tabs-listing .product-tabs { border-bottom:1px solid #e8e9eb; width:100%; margin-bottom:0; }
.template-product .tabs-listing .product-tabs li { float:none; display:inline-block; cursor:pointer; }
.template-product .tabs-listing .product-tabs a { border-bottom:1px solid transparent; margin-bottom:-1px; letter-spacing:1px; display:block; border:none; padding:15px 25px; background:none !important; text-transform:uppercase; font-weight:600; border-radius:0; outline:none; color:#2e2d2d; text-decoration:none; }
.template-product .product-tabs li.active a, .template-product .product-tabs li.active a:focus { text-decoration:none; border:0; color:#000; border-bottom:1px solid #000; opacity:1; }
.acor-ttl.active { border-bottom:1px solid #000; }
.acor-ttl { display:block; padding:15px 0; position:relative; font-weight:600; letter-spacing:1px; border-bottom:1px solid #e8e9eb; font-family:Poppins,Helvetica,Tahoma,Arial,sans-serif; margin:0; font-size:12px; cursor:pointer; }
.template-product .tabs-listing .tab-container { padding:30px 0; text-align:left; }
.tab-container .tab-content { display:none; }
.product-template__container .product-single-1 .tab-container .tab-content { padding-top:20px; }
.template-product .prstyle2 .tabs-listing .acor-ttl:before { position:absolute; right:15px; top:15px; content:"\f107"; font-family:"FontAwesome"; font-size:16px; font-weight:normal; }
.template-product .prstyle2 .tabs-listing .acor-ttl.active:before { content:"\f106"; color:#000; }
#shopify-product-reviews { *zoom:1; display:block; clear:both; overflow:hidden; margin:1em 0; }
.spr-container:before,
.spr-container:after { content:" "; display:table; }
.spr-summary-starrating { margin:0 6px 0 0; }
.spr-summary-actions-newreview { float:right; background:#000; color:#fff !important; font-size:12px; font-weight:700; padding:8px 10px; text-transform:uppercase; }
.spr-form { margin:24px 0 0 0; padding:24px 0 0 0; border-top:1px solid #DFDFDF; }
.spr-form-title { font-size:16px; line-height:24px; margin-top:0; text-transform:uppercase; }
.spr-form-contact-name, .spr-form-contact-email, .spr-form-contact-location, .spr-form-review-rating, .spr-form-review-title, .spr-form-review-body { *zoom:1; margin:0 0 15px 0; }
.spr-container input, .spr-container select, .spr-container textarea { border-color:#d3d3d3; }
.product-template__container label { font-weight:400; text-transform:uppercase; letter-spacing:0.02em; }
.spr-button-primary { float:right; }
.spr-reviews { padding:24px 0; }
.spr-review { padding:24px 0; border-top:1px solid #DFDFDF; }
.spr-review:first-child { margin-top:24px; }
.spr-review-header-starratings { margin:0 0 0.5em 0; display:inline-block; }
.spr-review-header-title { font-size:16px; line-height:24px; margin:0; padding:0; border:none; text-transform:uppercase; }
.spr-review-header-byline { font-size:13px; opacity:0.7; display:inline-block; margin:0 0 1em 0; }
.spr-review-content { *zoom:1; margin:0 0 24px 0; }

.template-product .tabs-listing .tab-container table tr th { background:#000; color:#fff; border:0 !important; }
.template-product .tabs-listing .tab-container table tr th, .template-product .tabs-listing .tab-container table tr td { padding:7px 12px; text-align:center; font-size:12px; border:1px solid #e8e9eb; }

.related-product { margin-bottom:30px; }
.product-template__container .section-header { margin-bottom:40px; }
.sub-heading { text-align:center; max-width:500px; margin:0 auto; }
.related-product .grid--view-items { overflow:visible; }
.recently-product .grid-products .item { float:left; }

.product-single__photos.bottom .product-dec-slider-1 { padding:8px 0; margin-left:-4px; }
.product-single__photos.bottom .product-dec-slider-1 .slick-list { margin:0 -2px; }
.product-single__photos.bottom .product-dec-slider-1 .slick-slide { margin:0 4px; }

.product-info .lbl { font-weight:700; }

.left-content-product { float:left; width:80%; padding-right:30px; }
.sidebar-product { float:left; width:20%; }
.sidebar-product .prFeatures { padding-top:0; }
.sidebar-product .prFeatures h5 { font-size:1.07692em; font-family:'Poppins', sans-serif; font-weight:600; }
.template-product-right-thumb .sidebar-product .prFeatures { padding-top:0; }
.sidebar-product .section-header { margin-bottom:20px; }

.prstyle3 .related-product { margin-bottom:20px; }
.prstyle3 .related-product:before, .prstyle3 .related-product:after { content:''; clear:both; display:block; }
.prstyle3 .related-product .section-header .h2, .prstyle3 .related-product .section-header .sub-heading { text-align:left; }
.prstyle3 .related-product .section-header { margin-bottom:12px; }
.prSidebar .section-header h2, .prSidebar .section-header .h2 { font-size:130%; text-align:left !important; }
.prstyle3 .mini-list-item .mini-view_image img { max-width:110px; }
.prstyle3 .mini-list-item .mini-view_image { width:28%; }
.prstyle3 .mini-list-item .details { margin-left:32%; }

.template-product-right-thumb .product-details-img .product-thumb { padding-right:0; padding-left:5px; }
.template-product-right-thumb .product-thumb .product-dec-slider-2 a { padding-bottom:3px; }
.template-product-right-thumb .prFeatures { padding:40px 0 20px; }

.product-countdown { position:static; margin:15px 0; }
.product-countdown:before, .product-countdown:after { content:''; clear:both; display:block; }
.product-countdown .time-count { font-weight:700; font-size:24px; display:block; width:100%; text-align:center; margin:0; }
.product-countdown span>span { font-weight:700; width:24%; margin-right:0.3%; padding:10px; line-height:18px; display:inline-block; text-align:center; background:#000; color:#fff; float:left; }
.product-countdown span>span span { display:block; background:none; font-size:15px; font-weight:400; text-transform:uppercase; line-height:16px; text-align:center; width:100%; padding:8px; }

.product-right-sidebar .product-details-img { width:50%; float:left; padding-right:10px; }
.product-right-sidebar .product-information { width:50%; float:left; padding-left:10px; }
.product-right-sidebar .sidebar-product { width:100%; }
.product-right-sidebar .tabs-listing { clear:both; padding-top:30px; }
.product-right-sidebar .sub-heading { text-align:left; }
.product-right-sidebar .related-product { margin-bottom:20px; }

.product-labels .pr-label3 { left:5px; background:#fb6c3e; }

.product-single .product-single__meta { position:relative; }
.product-single .product-featured-img { width:100%; display:block; margin:0 auto; }
.product-single .grid_item-title { font-size:26px; margin-bottom:25px; }
.product-single .product-single__title { font-size:18px; }

.grid-view-item__title { color:#000; font-size:1em; line-height:1.2; margin-bottom:0; }
.grid-view-item__meta { margin:5px 0; }
.product-price__price { color:#000000; font-weight:600; display:inline-block; }

.product-tags li { border-radius:18px; display:inline-block; border:1px solid #e8e9eb; margin-bottom:5px; height:25px;  }
.product-tags li a { padding:5px 10px; font-size:11px; }

a { color:#555555; text-decoration:none; -ms-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out; }
a:focus { outline:thin dotted; }
a:active, a:hover { color:#000; outline:0; }
a:hover, a:focus { opacity:0.8; }
a:hover { color: blue }

/*PAGE DETAILS*/
.page-template #page-content .addressFooter .icon { color:#000 !important; font-size:18px; }
.main-content { min-height:500px; }
.ProductPage__container { margin-top: 60px; margin-left: 60px; margin-right: 60px; }
.ProductPage__product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
        width: 100%;
    }
}
.ProductPage__add-to-cart-btn {
    width: 80%;
    padding: 6px 15px;
    min-height: 42px;
}

.ProductPage__selected-weight {
    margin-bottom: 10px;
}

.qtyBtn__out-of-stock {
    cursor: not-allowed !important;
}

.AddToCartText-product-template {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.prInfoRow { margin-bottom:10px; }
.prInfoRow > div { display:inline-block; margin-right:5%; }
.prInfoRow .instock { color:#447900; }
.prInfoRow .out-of-stock { color: #cd5555; }
.prInfoRow .spr-badge-caption { color:#424242; padding-left:5px; }
.prInfoRow a:hover { text-decoration:none; }

/*======================================================================
  20. Bredcrumb
========================================================================*/
.bredcrumbWrap { background:#f9f9f9; padding:10px 0; margin:0 0 30px; border-top:solid 1px #e8e9eb; }
.breadcrumbs a, .breadcrumbs span { color:#111; display:inline-block; padding:0 7px 0 0; margin-right:7px; font-size:12px; }

/*======================================================================
  6. Button
========================================================================*/
.btn, .shopify-payment-button__button--unbranded { -moz-user-select:none; -ms-user-select:none; -webkit-user-select:none; user-select:none; -webkit-appearance:none; -moz-appearance:none; appearance:none; display:inline-block; width:auto; height:auto;
    text-decoration:none; text-align:center; vertical-align:middle; cursor:pointer; border:1px solid transparent; border-radius:0; padding:8px 15px 8px; background-color:#000; color:#fff; font-family:Poppins,Helvetica,Tahoma,Arial,sans-serif;
    font-weight:400; text-transform:uppercase; letter-spacing:1px; line-height:normal; white-space:normal; font-size:13px; -ms-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
.btn:hover, .btn:focus, .shopify-payment-button__button--unbranded:hover, .shopify-payment-button__button--unbranded:focus { background-color:#1a1a1a; opacity:0.8; color:#fff; text-decoration:none; }
.btn--small { padding:8px 10px; font-size:0.92308em; line-height:1; }
.btn--secondary { background-color:#ededed; color:#000; border:1px solid #000; }
.btn--link { background-color:transparent; border:0; margin:0; color:#31a3a3; text-align:left; text-decoration:none; outline:none !important;box-shadow:none !important; }
.btn--link:hover, .btn--link:focus { opacity:0.8; text-decoration:none; }
