.template-collection { margin-bottom:45px; }
.collection-hero { position:relative; overflow:hidden; }
.collection-hero__image { opacity:1; max-height: 300px; }
.collection-hero__image img { width:100%; }
.collection-hero__title-wrapper::before { content: ''; position:absolute; top:0; right:0; bottom:0;left:0; background-color:#000;opacity:0.4; }
.collection-hero__title { font-size:1.84615em; position:absolute; color:#fff; width:100%; text-align:center; left:0; right:0; top:50%; text-transform:uppercase; -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); transform:translateY(-50%); }

.collection-header {
  background-color: #146b84;
  padding-top: 64px;
  margin-bottom: 45px;
}

.category-description { margin-bottom:40px; }
.Products {
}

.Products__category-header-title {
  font-size: 16px;
  margin-bottom: 10px;
}
