/*Related Product*/
.ProductPage__product-image-container {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

.ProductPage__product-image-container:hover {
  .ProductPage__related-product-add_button {
    display: block;
  }
}

.ProductPage__related-product-image {
  width: 100%;
  height: 305px;
}

.ProductPage__related-product-add {
  position: absolute;
  bottom: 10px;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  left: 5px;
  right: 5px;
}

.ProductPage__related-product-add_button {
  width: 100%;
  display: none;
}

.ProductPage-related-product-name {
  color: #000;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
}

.ProductPage__related-product-price {
  font-weight: 600;
}
